
.site {
    max-width: var(--layout-width, 70rem) ;
    margin: 1.5em auto;
}

.site-header {
    display: flex;
    justify-content: space-between;
}


img {
    display: block;
    width: 100%;
    height: auto;
}



.site-main {
    
} 



/* .team-member, 
.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 33%;
    max-width: 20em;
    padding: 1.5em;
}

.members .photo {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 10px #888888;
    margin-bottom: 1em;
}

.photo::before {
    content: '';
    height: 100%;
    width: 100%;
    display: block;
    border: 0.3em solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    top: 0;  left: 0;
    align-self: center;
}

.photo img { width: 10em;}


.sing-up {
    background: #6C387F;
    padding: 2em 0;
    color: #fff;
}

.sing-up .site-wrap {
    justify-content: center;
}

.sing-up .title {
    flex: 1 100%;
    margin-bottom: 0.8em;
}

.sing-up input {
    border: 2px solid #333;
    border-radius: 0.2em;
    width: 20em;
    /* padding-bottom: 1em;
    margin-bottom: 1em; */
} */



.site-footer .site-wrap > * {
    flex:1 33%;
    min-width: 20em;
    padding: 1em;

}

.site-map .site-nav > * {
    flex: 1 50%;
}

.site-footer ul {
    padding-top: 0;
}

.site-footer li {
    padding-bottom: 0.5em;
}

.site-footer a {
    margin: 0;
    font-weight: normal;
}




