@media screen and (max-width:800px) {
    .site-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .site-header nav {
        margin: 0;
        width: 100%;
    }

    .site-header .site-nav {
        flex-direction: column;
        
    }
}