

a.button {
    padding: 0.5em 1em;
    background: #fff;
    border: 2px solid #333;
    border-radius: 0.3em;
    display: inline-block;
    font-weight: 700;
    font-size: 0.9em;
    color: #333
}

.need-site .button {
    margin-bottom: 1em;
}

.sing-up .button {
    margin: 0 0.5em;
}

.icon { padding-right: 0.3em; } 

.icon:before {
    content: "";
    padding-right: 0.3em;
    display: inline-block;
    font-family: FontAwesome; /*wokr only with this font*/
    vertical-align: middle;

}

.phone:before {content: "\f2a0";}
.map:before { content:'\f5a0'}
.mail:before { content:'\f0e0'}
.work-time:before { content:'\f017'}