<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ site.baseurl}}/css/fontawesome/css/all.css">
    <link rel="stylesheet" href="{{ site.baseurl}}/css/site.css">
    <title>{{site.title}}</title>
</head>
<body>
    
    <div class="site">
        <header class="site-header">
            <div class="site-branding">
                <h2 class="site-title"><a href="{{ site.baseurl}}/">{{site.title}}</a></h2>
                <h3>{{page.title}}</h3>
            </div>
            
            <nav>
                <ul class="site-nav">
                    {% for page in site.pages %}
                        {% if page.title%}
                        <li class="page-title-{{page.title | slugify}}"><a href="{{ site.baseurl}}{{page.url}}">{{page.title}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </header>
        <main class="site-main">
            {{content}}
            <img src="{{site.baseurl}}/img/banner.jpg" alt="">
        </main>
        <footer class="site-footer">
            <p>{{site.title}} &copy All rights reserved</p>
        </footer>
    </div>
</body>
</html>









